@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.columns {
  /* column-count: 4; */
  /* column-width: 250px; */
  columns: 4 250px;
  column-rule: 3px solid #333;
  column-gap: 3rem;
}

.columns p {
  margin-top: 0;
}

.columns h2 {
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  break-inside: avoid;
  break-before: avoid;
}

.columns .quote {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #333;
  column-span: all;
}

/* 헤더 메뉴 예제코드 */

/* ul {
  list-style: none;
  padding: 0.5rem;
  text-align: right;
  background-color: #000;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 0.5rem;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:hover, li a:focus {
  text-decoration: underline;
} */

/* 헤더 메뉴 예제코드 */

/*list 미니 프로젝트 코드*/

/* 
nav {
  border: 2px solid #333;
  border-radius: 2rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  font-size: 3rem;
  line-height: 7rem;
}

h2 {
  padding: 1rem;
  background: gold;
  border-radius: 2rem 2rem 0 0;
}

ul {
  list-style-position: none;
}

li {
  border-top: 1px solid #333;
  list-style: none;
}

li a {
  display: block;
}

li a,
li a:visited {
  text-decoration:  none;
  color: #333;
}

li a:hover,
li a:focus {
  background: #333;
  color: whitesmoke;
}

li:last-child a{
  border-radius: 0 0 2rem 2rem;
} */

/*list 미니 프로젝트 코드*/
