@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid #000;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  flex-direction: row;
  flex-flow: row wrap;
}

.box {
  /* min-width: 100px; */
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
/* 
  flex-shrink: 1;
  flex-basis:  250px; */
  flex: 1 1 150px;
}

.box:nth-child(2) {
  flex: 2 2 150px;
  order: 1;
  
}

/* 헤더 메뉴 예제코드 */

/* ul {
  list-style: none;
  padding: 0.5rem;
  text-align: right;
  background-color: #000;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 0.5rem;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:hover, li a:focus {
  text-decoration: underline;
} */

/* 헤더 메뉴 예제코드 */

/*list 미니 프로젝트 코드*/

/* 
nav {
  border: 2px solid #333;
  border-radius: 2rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  font-size: 3rem;
  line-height: 7rem;
}

h2 {
  padding: 1rem;
  background: gold;
  border-radius: 2rem 2rem 0 0;
}

ul {
  list-style-position: none;
}

li {
  border-top: 1px solid #333;
  list-style: none;
}

li a {
  display: block;
}

li a,
li a:visited {
  text-decoration:  none;
  color: #333;
}

li a:hover,
li a:focus {
  background: #333;
  color: whitesmoke;
}

li:last-child a{
  border-radius: 0 0 2rem 2rem;
} */

/*list 미니 프로젝트 코드*/
